body{
  background-color:lightblue;
  text-align:center;
  font-family:"Bahnschrift SemiLight", Bahnschrift,Helvetica;
  margin:0;
}

h1{
  color:darkblue;
  text-align:center;
}

h2{
  text-align:center;
}
h3{font-size:18px;
  color:blue;
  test-align:center;
}
a {color:Indigo;}
p {
  font-size:20px;
}
footer{
  background-color:steelblue;
   margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  ;
}
Header{background-color:steelblue;
  text-align:left;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  border: 1px;
}
