body{
  background-color:lightblue;
  text-align:center;
  font-family:"Bahnschrift SemiLight", Bahnschrift,Helvetica;
  margin:0;
  min-height: 100vh;
  display: flex;
  flex-direction: columns;
}

h1{
  color:darkblue;
  text-align:center;
}

h2{
  text-align:center;
}
h3{font-size:18px;
  color:blue;
  test-align:center;
}
a {color:Indigo;}
p {
  font-size:20px;
}
footer{
  <div>
  height:100px;
  background-color:steelblue;
  margin-top: auto;
   margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  </div>
}
Header{background-color:steelblue;
  text-align:left;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  border: 1px solid black;
}
